*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.div-img{
  width: 500px;
  height: auto;
}
img{
  height:auto;
  width: 100%;
}